@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .squareGrid{
    --content-width: 80vw;
    --gutter: 0px;
    --columns: 3;
    --row-size: calc(var(--content-width) / var(--columns));
    display: grid;
    width: 100%;
    max-width: var(--content-width);
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-auto-rows: var(--row-size);
    grid-column-gap: var(--gutter);
    grid-row-gap: var(--gutter);
  }
  .squareGrid2{
    --columns: 3;
    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(8rem, 1fr));
    grid-auto-rows: 1fr;
    overflow: hidden;
  }

  .squareGrid2 > *:first-child{
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  @media (max-width: 480px) and (orientation: portrait ){
    .squareGrid2{
      --content-width: calc(100vw - 20);
      --columns: 1;
      padding: 10px;
      grid-auto-rows: var(--content-width);
    }



  }

}